
html {
  line-height:normal;
}

.container input {
  width:100%;
  margin:2px;
  margin-bottom:5px;
  padding:5px;
}

.container input.button {
  padding:10px;
}

input[type=text], input[type=password], .form textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height:150px;
  margin-left:15px;
}

.button {
  padding:15px 10px;
  background-color:transparent;
  width:130px;
  text-align:center;
  border:solid 2px #618EAA;
  border-radius:3px;
  margin:2px;
  font-weight:600;
  color:#5b5e60;
}

.button:hover {
  background-color:#618EAA;
  color:white;
  text-decoration:none;
}

.button.secondary {
  background-color:transparent;
  width:100px;
  border:transparent;
  color:#51778e;
  font-weight:500;
}

.button.secondary:hover {
  text-decoration:underline;
}

.button.tertiary {
  background-color:#74AACC;
  border:#B1D2E6;
  color:white;
  width:90%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.button.tertiary:hover{
  background-color:#618EAA;
}
.header {
  background-color:white;
  width:100%;
  margin:0;
  height:10%;
  padding:15px;
}

body {
  padding:0px;
  margin:0px;
  font-family:Verdana;
}
.sidenav {
  background-color:#74AACC;
  height:100%;
  width:5%;
  min-width:50px;
  max-width:70px;
}

.container {
  width:400px;
  margin:auto;
  padding:0px;
  margin-top:10px;
}

.logoText {
  margin-left: 1em;
  font-size: 30pt;
}

.aanmelden {
  background: #F0F0F0;
  border-radius: 10px;
}

.container .form {
  background: #F0F0F0;
  border-radius: 10px;
  text-align:center!important;
}

#textBericht {
  text-align:left;
  margin-left:43px;
  margin-top:10px;
}

#buttonAanmeldenStart {
  width: 300px;
}

#logoImageHome {
  margin-left:10px;
  width:60px;
  height:55px;
}

#clockImage {
  margin-left:150px;
  margin-top:150px;
  width:100px;
  height:100px;
}

#overzichtImage {
  margin-top:30px;
}

#rememberMe {
  padding-left: 15px;
  margin-bottom:9px;
}

#checkbox {
  width: 28px;
  height: 16px;
  margin:0;
  margin-bottom:2px;
  vertical-align: bottom;
}

#forgotPassword {
  margin-right:22px;
}

.containerHome1 {
  padding-top:100px;
  padding-bottom:100px;
}
.containerHome2 {
  padding-top:100px;
  width:100%;
  background-color:#e6e6e6;
  margin-left:0px;
  clear:both;
}

.containerHome3 {
  padding:200px;
  width:100%;
}

.titlePrimary {
  font-size:20px;
  font-weight:bold;
}

.textPrimary {
  font-size:18px;
  font-weight:normal;
  padding-bottom:30px;
}

.titleSecondary {
  font-size:16px;
  font-weight:bold;
}

.textSecondary {
  font-size:14px;
  font-weight:normal;
  padding-bottom:30px;
}

#featuresColumn {
  width:40%;
}

#featuresTable {
  text-align:left;
  margin:10px;
  margin-left:45px;
}

.left {
  float:left;
}

.right {
  float:right;
}

#navbarIcon {
  padding:0px;
}

#navbarImage {
  width:50px;
  max-width:50px;
  height:50px;
  margin-bottom:10px;
}

.navbarApp {
  background-color:#75aacc;
}
